h1 Model Types Index
= link_to 'New model type', new_model_type_path
= render partial: 'shared/notice'
= render partial: 'shared/common_table', locals: { model_attributes: @model_attributes, data_collection: model_types }
