h1 Routes Index
= link_to 'New route', new_route_path
= render partial: 'shared/notice'
= render partial: 'shared/common_table', locals: { model_attributes: @model_attributes, data_collection: routes }
